@import "prosemirror-menu/style/menu.css";
@import "prosemirror-view/style/prosemirror.css";

text-editor {
  display: block;
  background-color: white;
  margin-top: calc(var(--pico-spacing) * 0.375);
  margin-bottom: var(--pico-spacing);
}

text-editor .wrapper {
  outline: 1px solid currentColor;
  padding: 0.25rem;
}
.ProseMirror {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  min-height: 20rem;
}
.ProseMirror-menubar {
  padding-block-end: 0.4rem;
}

.ProseMirror-prompt {
  position: fixed;
  background-color: white;
  z-index: 10;
  padding: 1rem;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}
