<!doctype html>
<html lang="fr" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    {{vite('client.ts') | raw}}
  </head>
  <body class="overflow-hidden w-screen h-dvh">
    <div id="app"></div>
  </body>
</html>
