{% extends "layouts/baseAdmin.html.twig" %}

{% block content %}

{% import "partials/forms.html.twig" as forms %}

  <h1>Sign Up</h1>
  <article>
    <form method="post" action="{{url_for("doSignup")}}">
      {{forms.input("Email:","email",  data["email"] ?? "", "email", errors)}}

      {{forms.input("Password:","password", "", "password", errors)}}

      {{forms.input("Confirm password:","confirm-password", "", "password", errors, data)}}

      <button>Sign Up</button>
    </form>
  </article>
{% endblock %}
